.navigation{
    font-family: $font1;
    list-style: none;
    background-color: aqua;
    display: flex;

    a.class-active{
        background-color: rgb(23, 77, 104);
    }
    a, span{
        border-radius: 7px;
        font-weight: 700;
        font-size: 1.3em;
        padding: 5px;
    }
    a:hover{
        background-color: rgb(54, 89, 107);
    }
    a:visited{
        color: $color3;
    }
    nav{
        position: absolute;
    }
    li{
        display: flex;
    }
    .title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}