.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search-options input{
        width: 208px;
        border: none;
        outline: none;
        height: 28px;
        border-radius: 8px;
        padding: 0;
    }

    .btn-topflop{
        display: flex;
    }
    .topToFlop, .flopToTop{
        width: 104px;
        height: 28px;
        background-color: $color4;
        color: $color2;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: rgb(54, 89, 107);
        }
    }
    .topToFlop{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .flopToTop{
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
    .topToFlop span{
        position: absolute;
        transform: rotate(-90deg);
    }
    .flopToTop span{
        position: absolute;
        transform: rotate(90deg);
    }

    .result{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}